<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC9vRPewF52nhu_WGK-4H-0HXDKvBEQ0jo</string>
	<key>GCM_SENDER_ID</key>
	<string>278726956859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nomadMovieapp</string>
	<key>PROJECT_ID</key>
	<string>nomad-final-movieapp</string>
	<key>STORAGE_BUCKET</key>
	<string>nomad-final-movieapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:278726956859:ios:4b3506610684a5f69e891e</string>
</dict>
</plist>